body {
    font-family: 'Open Sans', sans-serif;
}

.logo {
    display: block;
    width: 150px;
    height: 100%;
    background: url('../img/logo.png') no-repeat left center;
    background-size: 54px;
}

.preheader {
    height: 600px;
    background: url('https://images.unsplash.com/photo-1457305237443-44c3d5a30b89?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=488378cf5697574c717752de2b84518e&auto=format&fit=crop&w=1353&q=80') no-repeat;
    background-size: cover;
}

.thumbnail {
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

.thumbnail img {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .col-4 {
        width: 100%;
        max-width: 100%;
        flex: 100%;
        margin-bottom: 40px;
    }
}